<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<br>

    <div class ="row">
        <div class="col-sm-9">
            <h1>Productos de la página:</h1>
        </div>
        <div class="col-sm-3">
            <input type="hidden" id ="_csrf" name = "_csrf" value="<%= csrfToken %>" >
            <input type = "text" name = "buscar" id ="buscar" placeholder="Buscar" onkeyup="buscar()">
        </div>
    </div>
    <br>
    <div class = "text-center row" id = "productos_resultados">
        <% for (let producto of lista_productos) { %>
            <div class="col-sm-6">
                <div class="card text-white bg-secondary mb-3 align-center" style="max-width: 25rem;">
                    <img class="card-img-top" src=" <%= producto.imagen %>" alt="producto.nombre image">
                    <div class="card-body">
                        <h5 class="card-title"> <%= producto.nombre %> </h5>
                        <p class="card-text"> $ <%= producto.precio %> </p>
                        <!-- <form action="/productos/" method = "POST">
                            <input type = "submit" value = "Agregar al carrito">
                        </form> -->
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <br>
    <br>


<%- include('partials/menu.ejs') %>
<%- include('partials/footer.ejs') %>

<script>
    function buscar() {
        const valor_busqueda = document.getElementById('buscar').value;

        // Token de protección
        const csrf = document.getElementById('_csrf').value;

        let data =  {valor_busqueda: valor_busqueda};

        //función que ayuda a la petición asíncrona
        fetch('productos/buscar', {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'csrf-token': csrf,
                'Content-Type': 'application/json'
            },
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            console.log(data);
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            let html = "";
            for (let producto of data) {
                html += '<div class="col-sm-6">' +
                            '<div class="card text-white bg-secondary mb-3 align-center" style="max-width: 25rem;">' +
                                '<img class="card-img-top" src="'+producto.imagen+'" alt="Product image">' +
                                '<div class="card-body">' +
                                    '<h5 class="card-title"> "'+producto.nombre+'" </h5>' +
                                    '<p class="card-text"> "'+producto.precio+'" </p>' +
                                '</div>' +
                            '</div>' +
                        '</div>';
            }
            document.getElementById("productos_resultados").innerHTML = html;
            
        }).catch(err => {
            console.error(err);
        });
    };
</script>