<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

    <h1>Usuarios de la página:</h1>

    <div>
        <ul>
            <% for (let nombre of lista_nombres) { %>
                <li> <%= nombre %></li>
            <% } %>
        </ul>
    </div>
    <br>
    <br>


<%- include('partials/menu.ejs') %>
<%- include('partials/footer.ejs') %>