<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<br>

    <h1>Productos de la página:</h1>
    <br>
    <div class = "text-center">
        <% for (let producto of lista_productos) { %>
            <div class="card text-white bg-secondary mb-3 align-center" style="max-width: 25rem;">
                <img class="card-img-top" src=" <%= producto.imagen %>" alt="Product image">
                <div class="card-body">
                <h5 class="card-title"> <%= producto.nombre %> </h5>
                <p class="card-text"> $ <%= producto.precio %> </p>
                <!-- <form action="/productos/" method = "POST">
                    <input type = "submit" value = "Agregar al carrito">
                </form> -->
                </div>
            </div>
        <% } %>
    </div>
    <br>
    <br>


<%- include('partials/menu.ejs') %>
<%- include('partials/footer.ejs') %>